# Исключения для Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
.env

# Исключения для Node.js
node_modules/
npm-debug.log
yarn-error.log

# Общие исключения
.DS_Store
.idea/
.vscode/
*.swp
